$white: '#fff';
$navy: #011e3b;
$blue: #0477db;
$aqua: #77d2f7;
$teal: #3ad1d1;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #fa3b31;
$pink: #e913b7;
$purple: #b10dc9;
$maroon: #811348;
$white: #ffffff;
$gray: #928f8f;
$silver: rgb(100, 98, 98);
$black: #000;
