* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

div,
span,
input,
button,
li,
ul,
ol,
a,
img,
h1,
h2,
h3,
h4,
h5,
table,
tbody,
tr,
td {
  margin: 0;
  padding: 0;
}
